.welcome{
    display: block;
    font-size: 5vw;
    padding: 2vw;
}

.explanation{
    display: block;
    font-size: 3vw;
    padding: 2vw;
}


main {
    justify-content: center;
  }

.login-box{
    /* margin-top: 10vw; */
    justify-content: center;
    width: 80vw;
    background-color: white;
    text-align: center;
}